
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Admin Home</h2>
        </div>
        
        @if (ViewBag.ErrorMessages != null) {
            foreach (var error in ViewBag.ErrorMessages)
            {
                <div class="alert alert-danger">
                    @error
                </div>
            }
        }

        @if (ViewBag.SuccessMessages != null)
        {
            foreach (var message in ViewBag.SuccessMessages)
             {
                 <div class="alert alert-success">
                     @message
                 </div>
             }
        }

        @Html.ActionLink("Send email to all users", "GetSendEmail", "Admin")
        <br />
        @Html.ActionLink("Promote another user to admin status", "GetAdminPromote", "Admin")
        <br />
        @Html.ActionLink("Create an announcement for the home page", "GetCreate", "Announcement")
        <br />
        @Html.ActionLink("View all users' information", "GetViewUsers", "Admin")

    </div>
</div>


